<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="farmers-dashboard">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="events">
      <ion-icon name="calendar"></ion-icon>
      Events
    </ion-tab-button>
    <ion-tab-button tab="schedule-consultations">
      <ion-icon name="timer"></ion-icon>
      Schedules
    </ion-tab-button>
    <ion-tab-button tab="farmers-profile">
      <ion-icon name="settings"></ion-icon>
      Settings
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>