ion-content {
  --ion-background-color: #ffff;
}

.pageName {
  color: #2c5434;
}
.custom-color-button {
  color: #2c5434;
  border-color: #2c5434;
}

.mycolor {
  --background: var(--ion-color-btn);
}

.post-knowledge {
  margin-top: 10px;
}

.post-knowledge ion-card {
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #2c5434;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.post-knowledge ion-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-knowledge ion-card-header {
  padding-bottom: 0;
}

.post-knowledge ion-card-content {
  padding-top: 0;
}

.post-knowledge ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.post-knowledge ion-card-subtitle {
  font-size: 1rem;
  color: #666;
}

.post-knowledge ion-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
.top-margin {
  margin-top: 16px;
}
