ion-content {
  --ion-background-color: #ffff;
}

ion-img {
  height: 24px;
  width: 20px;
}

ion-modal {
  --background: transparent;
}

ion-modal ion-header ion-toolbar ion-img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

ion-modal ion-item ion-label {
  color: black;
}

ion-modal ion-header ion-toolbar {
  --background: #2c5434;
}

ion-modal ion-content {
  --background: #f4f5f8;
}

ion-modal ion-content form {
  padding: 20px;
}

ion-modal ion-content ion-item {
  margin-bottom: 15px;
}

ion-modal ion-content ion-button {
  margin-top: 10px;
  --background: #2c5434;
  --color: #fff;
}

ion-fab-button {
  --background: #2c5434;
}
.pageName {
  color: #2c5434;
}
.upcoming-events {
  margin-top: 10px;
}

.upcoming-events ion-card {
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #2c5434;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.upcoming-events ion-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.upcoming-events ion-card-header {
  padding-bottom: 0;
}

.upcoming-events ion-card-content {
  padding-top: 0;
}

.upcoming-events ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.upcoming-events ion-card-subtitle {
  font-size: 1rem;
  color: #666;
}

.upcoming-events ion-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.top-margin {
  margin-top: 16px;
}
