ion-content {
    --ion-background-color: #ffff;
  }
.pageName {
    color: #2c5434;
  }
  .orders {
    margin-top: 10px;
}

.orders ion-card {
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #2c5434;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.orders ion-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.orders ion-card-header {
    padding-bottom: 0;
}

.orders ion-card-content {
    padding-top: 0;
}

.orders ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.orders ion-card-subtitle {
    font-size: 1rem;
    color: #666;
}

.orders ion-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}