<ion-content [fullscreen]="true" class="ion-padding">
  <div
    class="pageName"
    style="display: flex; align-items: center; margin: 16px"
  >
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/vet-dashboard"></ion-icon>
    </ion-buttons>
    <ion-title style="margin-left: 16px">Basic Knowledge</ion-title>
  </div>
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    class="ion-center-sm-down"
  >
    <ion-fab-button id="open-knowladge-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [keepContentsMounted]="true" trigger="open-knowladge-modal" #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-text-center">POST KNOWLEDGE</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="resetArticle(modal)">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form (ngSubmit)="addArticle(modal)">
          <ion-input
            [(ngModel)]="article.article_title"
            name="article_title"
            label="Title"
            labelPlacement="floating"
            fill="outline"
            type="text"
            class="top-margin"
            placeholder="Enter post title"
            style="color: black"
          ></ion-input>

          <ion-textarea
            [(ngModel)]="article.description"
            name="description"
            label="Description"
            labelPlacement="floating"
            fill="outline"
            class="top-margin"
            style="color: black"
            placeholder="Enter description"
          ></ion-textarea>

          <ion-input
            [(ngModel)]="article.articleUrl"
            name="articleUrl"
            label="Link"
            labelPlacement="floating"
            fill="outline"
            type="text"
            class="top-margin"
            placeholder="Enter post url link"
            style="color: black"
          ></ion-input>

          <ion-button class="mycolor" type="submit" expand="block"
            >SUBMIT</ion-button
          >
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
  <div
    *ngIf="articles.length > 0; else noArticles"
    class="post-knowledge"
    style="background-color: transparent"
  >
    <ion-card *ngFor="let article of articles" style="margin: 10px">
      <ion-card-header class="ion-text-center">
        <ion-card-title>{{ article.article_title }}</ion-card-title>
        <ion-card-subtitle>Posted by: {{article.authorName}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ article.description }}</p>
        <p><a (click)="openLink(article.articleUrl)">Read More</a></p>
        <div style="display: flex; justify-content: space-between">
          <ion-button
            fill="outline"
            slot="start"
            color="custom"
            (click)="editArticle(article, modal)"
            >Edit</ion-button
          >
          <ion-button
            fill="outline"
            slot="end"
            color="danger"
            (click)="deleteArticle(article)"
            >Delete</ion-button
          >
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #noArticles>
    <p style="color: brown">No events available</p>
  </ng-template>
</ion-content>
