ion-content {
  --ion-background-color: #f0f0f0;
}

img {
  height: 150px; 
  width: auto;
  margin: 10px auto; 
  display: block;
}

.mycolor {
  --background: var(--ion-color-btn);
}

.page-link {
  color: #3e8156;
}

.myHeader {
  text-align: center;
  color: #3e8156;
  font-weight: 800;
  margin: 10px 0; 
}

ion-button {
  font-size: 1rem; 
}

.register, .register-farmer {
  color: #3e8156;
  text-align: center;
  margin: 3px 0; 
}

p {
  color: #000;
  margin: 5px 0; 
}

form {
  margin-top: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

form ion-input, ion-select {
  color: black;
}

ion-input,
ion-select,
ion-button {
  width: 100%;
  max-width: 260px;
  margin-bottom: 6px; 
}

@media (max-width: 320px) {
  .myHeader {
    font-size: 16px; 
  }
}

@media (max-width: 600px) {
  .myHeader {
    font-size: 18px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .myHeader {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  .myHeader {
    font-size: 24px;
  }
}

.error-message {
  color: #813e3e;
  font-size: 0.8rem; 
  margin-top: -5px; 
  margin-bottom: 5px;
}

.top-margin {
  margin-top: 6px; 
}