<ion-content>
  <div style="display: flex; align-items: center; margin: 16px;">
   
  <ion-title class="userName" style="margin-left: 16px;">{{userName}}</ion-title>
</div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card color="white" [routerLink]="['/basic-knowladge']">
            <ion-card-header>
              <ion-img src="../../../../assets/images/knoladge.png"></ion-img>
            </ion-card-header>
            <ion-card-content>Knowledge Base</ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card color="white" [routerLink]="['/videos']">
          <ion-card-header>
            <ion-img
              src="../../../../assets/images/video.png"
            ></ion-img>
          </ion-card-header>
          <ion-card-content>Videos</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
       <ion-col size="12" size-md="6">
          <ion-card color="white" [routerLink]="['/medication']">
            <ion-card-header>
              <ion-img src="../../../../assets/images/medicine.png"></ion-img>
            </ion-card-header>
            <ion-card-content>Medication</ion-card-content>
          </ion-card>
        </ion-col>
        
      </ion-row>
    </ion-grid>
    
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openChat()">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
