
ion-content {
    --ion-background-color: #ffff;
    --ion-padding-top: 10px;
    --ion-padding-bottom: 10px;
  }
  ion-content h3 {
    color: #000000;
    margin-left: 1.5rem;
  }
  
  .myMenu {
    --background: var(--ion-color-menu);
    margin-top: 0;
  }
  
  .menuContent {
    --background: var(--ion-color-menu);
    height: 125px;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    margin-bottom: 0;
  }
  
  img {
    height: 100px;
    width: auto;
    margin: auto;
    display: block;
  }
  
  ion-img {
    height: 45px;
    width: 45px;
    margin-top: 5px;
    display: block;
  }
  
  .userName{
    color: #2c5434;
  }
  ion-grid {
    margin-top: 2%;
  }
  
  ion-grid ion-img {
    font-size: 3rem;
    position: absolute;
    margin-top: 5%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    display: block;
    color: black;
  }
  
  ion-grid ion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fffffff5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #2c5434;
  }
  
  ion-grid ion-card-content {
    text-align: center;
    margin-top: 10%;
    color: black;
  }