
<ion-content *ngIf="showSchedule">
  <div class="pageName" style="display: flex; align-items: center; margin: 16px;">
    <ion-title>Consultation Requests</ion-title>
  </div>
  
  <ion-title style="margin-left: 16px;">Pending Requests</ion-title>
<ion-card *ngFor="let consultation of pendingConsultations">
  <ion-card-header>
    <ion-card-title>Farmer's Name: {{ consultation.farmerName }}</ion-card-title>
    <ion-card-subtitle>Vet Doctor: {{ consultation.vetDoctorName }}</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    <p><strong>Consultation Date:</strong> {{ consultation.consultationDate | date }}</p>
    <p><strong>Animal Type:</strong> {{ consultation.animalType }}</p>
    <p><strong>Age:</strong> {{ consultation.animalAge }}</p>
    <p><strong>Purpose:</strong> {{ consultation.purpose }}</p>
    <p><strong>Contacts:</strong> {{ consultation.contactNumber }}</p>
    <p><strong>Farmer's Address:</strong> {{ consultation.farmAddress }}</p>
  </ion-card-content>
</ion-card>

<ion-title style="margin-left: 16px;">Approved Requests</ion-title>
<ion-card *ngFor="let consultation of approvedConsultations">
  <ion-card-header>
    <ion-card-title>Farmer's Name: {{ consultation.farmerName }}</ion-card-title>
    <ion-card-subtitle>Vet Doctor: {{ consultation.vetDoctorName }}</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    <p><strong>Consultation Date:</strong> {{ consultation.consultationDate | date }}</p>
    <p><strong>Animal Type:</strong> {{ consultation.animalType }}</p>
    <p><strong>Age:</strong> {{ consultation.animalAge }}</p>
    <p><strong>Purpose:</strong> {{ consultation.purpose }}</p>
    <p><strong>Contacts:</strong> {{ consultation.contactNumber }}</p>
    <p><strong>Farmer's Address:</strong> {{ consultation.farmAddress }}</p>
  </ion-card-content>
</ion-card>

<ion-title style="margin-left: 16px;">Completed Requests</ion-title>
<ion-card *ngFor="let consultation of completedConsultations">
  <ion-card-header>
    <ion-card-title>Farmer's Name: {{ consultation.farmerName }}</ion-card-title>
    <ion-card-subtitle>Vet Doctor: {{ consultation.vetDoctorName }}</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    <p><strong>Consultation Date:</strong> {{ consultation.consultationDate | date }}</p>
    <p><strong>Animal Type:</strong> {{ consultation.animalType }}</p>
    <p><strong>Age:</strong> {{ consultation.animalAge }}</p>
    <p><strong>Purpose:</strong> {{ consultation.purpose }}</p>
    <p><strong>Contacts:</strong> {{ consultation.contactNumber }}</p>
    <p><strong>Farmer's Address:</strong> {{ consultation.farmAddress }}</p>
  </ion-card-content>
</ion-card>

  <ion-button expand="block" color="primary" (click)="toggleShowSchedule()">
    Add Consultation Schedule
  </ion-button>

</ion-content>
<ion-content *ngIf="!showSchedule">
  <div style="display: flex; align-items: center; margin: 16px;">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="toggleShowSchedule()"></ion-icon>
    </ion-buttons>
    <ion-title style="margin-left: 16px;">Add Schedule Consultation</ion-title>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Farmer's Name</ion-label>
          <ion-input [(ngModel)]="consultation.farmerName" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Select Vet-Doctor</ion-label>
          <ion-select [(ngModel)]="consultation.vetDoctorName">
            <ion-select-option *ngFor="let vet of veterinarians" [value]="vet.name">
              {{ vet.name }}<br />
              <!-- <p>{{ vet.email }}</p><br />
              <p>{{ vet.phoneNumber }}</p> <br />
              <p>{{ vet.consultationHours }}</p> -->
            </ion-select-option>
          </ion-select>
        </ion-item>  
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Vet-Doctor's Name</ion-label>
          <ion-input [(ngModel)]="consultation.vetDoctorName" required></ion-input>
        </ion-item>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Consultation Date</ion-label>
          <ion-datetime [(ngModel)]="consultation.consultationDate" displayFormat="MMM DD, YYYY HH:mm" required></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Animal Age</ion-label>
          <ion-textarea [(ngModel)]="consultation.animalAge" required></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Purpose</ion-label>
          <ion-textarea [(ngModel)]="consultation.purpose" required></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Animal Type</ion-label>
          <ion-select [(ngModel)]="consultation.animalType" required>
            <ion-select-option value="Cattle">Cattle</ion-select-option>
            <ion-select-option value="Sheep">Sheep</ion-select-option>
            <ion-select-option value="Goat">Goat</ion-select-option>
            <ion-select-option value="Poultry">Poultry</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Contact Number</ion-label>
          <ion-input [(ngModel)]="consultation.contactNumber" type="tel" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Farm Address</ion-label>
          <ion-textarea [(ngModel)]="consultation.farmAddress" required></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="submitConsultation()">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
