<ion-header>
  <ion-toolbar class="consultationPage">
    <ion-title class="ion-text-center">Consultation Requests</ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content *ngIf="showSchedule" class="ion-padding">
  <div
    class="pageName"
    style="display: flex; align-items: center; margin: 16px"
  >
  </div>
  <ion-title class="pageName" style="margin-left: 16px"
    >Pending Requests</ion-title
  >
  <div
    *ngFor="let consultation of pendingConsultations"
    class="pending-requests"
  >
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle
          >Vet Doctor: {{ consultation.vetDoctorName }}</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        <p>
          <strong>Consultation Date:</strong> {{ consultation.consultationDate |
          date }}
        </p>
        <p><strong>Animal Type:</strong> {{ consultation.animalType }}</p>
        <p><strong>Age:</strong> {{ consultation.animalAge }}</p>
        <p><strong>Purpose:</strong> {{ consultation.purpose }}</p>
        <p><strong>Contacts:</strong> {{ consultation.contactNumber }}</p>
        <p><strong>Farmer's Address:</strong> {{ consultation.farmAddress }}</p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <ion-button (click)="editConsultation(consultation)" color="primary">Edit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="deleteCompletedConsultation(consultation.id)" color="danger">Delete</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <ion-title class="pageName" style="margin-left: 16px"
    >Approved Requests</ion-title
  >
  <div
    *ngFor="let consultation of approvedConsultations"
    class="approved-requests"
  >
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle
          >Vet Doctor: {{ consultation.vetDoctorName }}</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        <p>
          <strong>Consultation Date:</strong> {{ consultation.consultationDate |
          date }}
        </p>
        <p><strong>Animal Type:</strong> {{ consultation.animalType }}</p>
        <p><strong>Age:</strong> {{ consultation.animalAge }}</p>
        <p><strong>Purpose:</strong> {{ consultation.purpose }}</p>
        <p><strong>Contacts:</strong> {{ consultation.contactNumber }}</p>
        <p><strong>Farmer's Address:</strong> {{ consultation.farmAddress }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-title class="pageName" style="margin-left: 16px"
    >Completed Requests</ion-title
  >
  <div
    *ngFor="let consultation of completedConsultations"
    class="completed-requests"
  >
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle
          >Vet Doctor: {{ consultation.vetDoctorName }}</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        <p>
          <strong>Consultation Date:</strong> {{ consultation.consultationDate |
          date }}
        </p>
        <p><strong>Animal Type:</strong> {{ consultation.animalType }}</p>
        <p><strong>Age:</strong> {{ consultation.animalAge }}</p>
        <p><strong>Purpose:</strong> {{ consultation.purpose }}</p>
        <p><strong>Contacts:</strong> {{ consultation.contactNumber }}</p>
        <p><strong>Farmer's Address:</strong> {{ consultation.farmAddress }}</p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <ion-button (click)="deleteCompletedConsultation(consultation.id)" color="danger">Delete</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <ion-button
    expand="block"
    class="custom-color"
    (click)="toggleShowSchedule()"
  >
    Add Consultation Schedule
  </ion-button>
</ion-content>
<ion-content *ngIf="!showSchedule">
  <div
    class="pageName"
    style="display: flex; align-items: center; margin: 16px"
  >
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)="toggleShowSchedule()"></ion-icon>
    </ion-buttons>
    <ion-title class="cuto" style="margin-left: 16px"
      >Add Schedule Consultation</ion-title
    >
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input
          [(ngModel)]="consultation.farmerName"
          required
          label="Farmer's Name"
          labelPlacement="floating"
          type="text"
          fill="outline"
          style="color: black"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-select
            [(ngModel)]="consultation.vetDoctorId" 
            label="Veterinarian Doctor"
            labelPlacement="floating"
            fill="outline"
            style="color: black"
            (ionChange)="setVetDoctorName($event)"
          >
            <ion-select-option
              *ngFor="let vet of veterinarians"
              [value]="vet.id"
            >
              {{ vet.name }}
            </ion-select-option>
      </ion-select>

        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-datetime
          [(ngModel)]="consultation.consultationDate"
          displayFormat="MMM DD, YYYY HH:mm"
          required
          label="Consultation Date"
          labelPlacement="floating"
          type="text"
          fill="outline"
          style="color: white"
        ></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-textarea
          [(ngModel)]="consultation.animalAge"
          required
          label="Animal Age"
          labelPlacement="floating"
          type="text"
          fill="outline"
          style="color: black"
        ></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-textarea
          [(ngModel)]="consultation.purpose"
          required
          label="Purpose"
          labelPlacement="floating"
          type="text"
          fill="outline"
          style="color: black"
        ></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-select
          [(ngModel)]="consultation.animalType"
          required
          label="Animal Type"
          fill="outline"
          class="top-margin"
          labelPlacement="floating"
          multiple="true"
          style="color: black"
          placeholder="Select all animals that apply"
        >
          <ion-select-option value="Chickens">Chickens</ion-select-option>
          <ion-select-option value="Goats">Goats</ion-select-option>
          <ion-select-option value="Sheep">Sheep</ion-select-option>
          <ion-select-option value="Pigs">Pigs</ion-select-option>
          <ion-select-option value="Cows">Cows</ion-select-option>
          <ion-select-option value="Horses">Horses</ion-select-option>
          <ion-select-option value="Donkeys">Donkeys</ion-select-option>
          <ion-select-option value="Rabbits">Rabbits</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input
          [(ngModel)]="consultation.contactNumber"
          type="tel"
          required
          label="Phone Numbers"
          labelPlacement="floating"
          type="text"
          fill="outline"
          style="color: black"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-textarea
          [(ngModel)]="consultation.farmAddress"
          required
          label="Farm Address"
          labelPlacement="floating"
          type="text"
          fill="outline"
          style="color: black"
        ></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          expand="block"
          class="custom-color"
          (click)="submitConsultation()"
          >Submit</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
