<ion-content [fullscreen]="true">
  <div style="display: flex; align-items: center; margin: 16px;">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/farmers-profile"></ion-icon>
    </ion-buttons>
    <ion-title style="margin-left: 16px;">Notifications</ion-title>
  </div>

  <ion-title>New Notifcations</ion-title>
  <ion-card >
    <ion-card-header>
      <ion-card-title>Title</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-icon slot="start" name="notifications-outline"></ion-icon>
      <p><strong>Descriptioin</strong> Your Request is Approved</p>
    </ion-card-content>
    <ion-item lines="none">
      <ion-button fill="outline" slot="end" color="danger">Delete</ion-button>
    </ion-item>
  </ion-card>

</ion-content>
