<ion-header>
  <ion-toolbar class="addNotifacationsPage">
    <ion-buttons slot="start">
      <ion-icon
        class="back"
        name="arrow-back"
        routerLink="/farmers-profile"
      ></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="notifications.length > 0; else noNotifications">
    <ion-card *ngFor="let notification of notifications">
      <ion-card-content>
          <h2>Vet Doctor: {{ notification.vetDoctorName }}</h2>
          <p>Consultation Purpose: {{ notification.purpose }}</p>
          <p>Consultation Status: {{ notification.status }}</p>
          <p>Time: {{ notification.timestamp | date:'medium' }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #noNotifications>
    <p style="color: brown">No Notifications available</p>
  </ng-template>
</ion-content>
