<ion-header>
  <ion-toolbar class="allOrders">
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back"  routerLink="/vet-dashboard"></ion-icon>
    </ion-buttons>
    <ion-title>All Orders</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngIf="orders.length > 0; else noOrders"
    class="view-orders"
    style="background-color: transparent"
  >
      <ion-card *ngFor="let order of orders">
      <ion-card-header>
        <ion-card-title>Order ID: {{ order.id }}</ion-card-title>
        <ion-card-subtitle>
          Date: {{ order.timestamp.toDate() | date: 'medium' }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Client's Name:{{ order.clientName }}</p>
        <p>Client's Address: {{ order.clientAddress }}</p>
        <p>Total:M {{ order.total }}</p>
        <ion-list >
          <ion-item lines="none" *ngFor="let item of order.items">
            <ion-label>
              <h3>{{ item.medicineName }}</h3>
              <p>Quantity: {{ item.quantity }} - Price:M {{ item.price  }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #noOrders>
    <p style="color: brown">No orders found.</p>
  </ng-template>
</ion-content>
