<ion-content>
  <div style="display: flex; align-items: center; margin: 16px;">
    <ion-buttons slot="start">
     <ion-icon name="arrow-back" routerLink="/farmers-dashboard" ></ion-icon>   
   </ion-buttons>
  <ion-title style="margin-left: 16px;">Videos</ion-title>
</div>
<div
*ngIf="videos.length > 0; else noVideos"
  class="upcoming-events"
  style="background-color: transparent"
>
<ion-card *ngFor="let video of videos" style="margin: 10px">
  <ion-card-header class="ion-text-center">
    <ion-card-title>{{ video.video_title }}</ion-card-title>
    <ion-card-subtitle>Posted by: {{video.authorName}}</ion-card-subtitle> 
  </ion-card-header>
  <ion-card-content>
    <p>{{ video.description }}</p>
    <p><a (click)="openLink(video.videoUrl)">Visit</a></p>
  </ion-card-content>
</ion-card>
</div>
<ng-template #noVideos>
  <p style="color: brown">No events available</p>
</ng-template>
</ion-content>
