<ion-content [fullscreen]="true">
  <div class="vet-profile">
    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-avatar class="profile-avatar">
          <ion-img src="../../../../assets/images/logo.png" />
        </ion-avatar>
        <h2 style=" color: #1a1a1acc;;">{{userName}}</h2>
        <p style=" color: #1a1a1acc;;">{{userEmail}}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-list lines="none">
    <ion-item routerLink="/login">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Log out</ion-label>
    </ion-item>
  </ion-list>
 </ion-content>
