<ion-content [fullscreen]="true">
  <div class="vet-profile">
    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-avatar class="profile-avatar">
          <img src="../../../../assets/icon/favicon.png">
        </ion-avatar>
        <h2>vet123</h2>
        <p>vet123gmial.com</p>
      </ion-card-content>
    </ion-card>
  </div>
 
  <div class="custom-list">
    <div class="custom-item" >
      <ion-icon   style="color: black" slot="start" name="log-out-outline"></ion-icon>
      <ion-label  style="color: black">Log out</ion-label>
    </div>
  </div>
 </ion-content>
