<ion-header>
  <ion-toolbar class="viewConsultationsPage">
    <ion-title class="ion-text-center">View Consultation Schedule</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div
    class="pageName"
    style="display: flex; align-items: center; margin: 16px"
  >
  </div>
  <div *ngFor="let consultation of consultations" class="view-consultations">
    <ion-card>
      <div>
        <ion-badge
          [color]="consultation.status === 'Pending' ? 'warning' : consultation.status === 'Approved' ? 'success' : 'tertiary'"
          slot="end"
        >
          {{ consultation.status }}
        </ion-badge>
      </div>
      <ion-card-header>
        <ion-card-title
          >Farmer's Name: {{ consultation.farmerName }}</ion-card-title
        >
      </ion-card-header>

      <ion-card-content>
        <p>
          <strong>Consultation Date:</strong> {{ consultation.consultationDate
          }}
        </p>
        <p><strong>Animal Type:</strong> {{ consultation.animalType }}</p>
        <p><strong>Age:</strong> {{ consultation.animalAge }}</p>
        <p><strong>Purpose:</strong> {{ consultation.purpose }}</p>
        <p><strong>Contacts:</strong> {{ consultation.contactNumber }}</p>
        <p><strong>Farmer's Address:</strong> {{ consultation.farmAddress }}</p>
        <div style="display: flex; justify-content: space-between">
          <ion-button
            *ngIf="consultation.status === 'Pending'"
            fill="outline"
            slot="start"
            color="success"
            (click)="updateStatus(consultation.id, 'Approved', consultation)"
            >Approve</ion-button
          >
          <ion-button
            *ngIf="consultation.status === 'Approved'"
            fill="outline"
            slot="end"
            color="danger"
            (click)="updateStatus(consultation.id, 'Completed', consultation)"
            >Completed</ion-button
          >
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
