<ion-content *ngIf="isDetailsView">
  
  <div style="display: flex; align-items: center; margin: 16px;">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/farmers-profile"></ion-icon>
    </ion-buttons>
    <ion-title style="margin-left: 16px;">Your Animals</ion-title>
  </div>
  <ion-card *ngFor="let animal of animals">
    <ion-card-header>
      <ion-card-title>Species: {{ animal.animal_species }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Age:</strong> {{ animal.animal_age }} years</p>
      <p><strong>Last Vaccine:</strong> {{ animal.last_vaccine }}</p>
      <p><strong>Past Illness:</strong> {{ animal.past_illness }}</p>
      <p><strong>Current Medications:</strong> {{ animal.current_medication }}</p>
    </ion-card-content>
    <ion-item lines="none">
      <ion-button fill="outline" slot="start" color="tertiary" (click)="editAnimal(animal)">Edit</ion-button>
      <ion-button fill="outline" slot="end" color="danger" (click)="deleteAnimal(animal)">Delete</ion-button>
    </ion-item>
  </ion-card>
  

  <ion-button expand="block" color="primary" (click)="toggleView()">
    Add Animal Details
  </ion-button>

</ion-content>
<ion-content *ngIf="!isDetailsView">
  <ion-list >
    <div style="display: flex; align-items: center; margin: 16px;">
      <ion-buttons slot="start">
        <ion-icon name="arrow-back" (click)="toggleView()" ></ion-icon>
      </ion-buttons>
      <ion-title style="margin-left: 16px;">Add Animal Details</ion-title>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Species</ion-label>
            <ion-input [(ngModel)]="animalProfile.animal_species"  placeholder="e.g., cattle, sheep, goat"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Age</ion-label>
            <ion-input [(ngModel)]="animalProfile.animal_age"  placeholder="Enter the age"></ion-input>
          </ion-item>
        </ion-col>
  </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Last Vaccine</ion-label>
            <ion-input [(ngModel)]="animalProfile.last_vaccine"  placeholder="Enter the last vaccine"></ion-input>
          </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Past Illness and Treatment</ion-label>
            <ion-input [(ngModel)]="animalProfile.past_illness" placeholder="Enter past illness and treatment"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Current Medications</ion-label>
            <ion-input [(ngModel)]="animalProfile.current_medication" placeholder="Enter current medications"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
 </ion-grid>


    <ion-button expand="block" shape="round" color="primary" (click)="submitAnimalProfile()" class="ion-margin-top">
      Submit Animal Profile
    </ion-button>
  </ion-list>

</ion-content>
