<ion-header>
  <ion-toolbar class="addAnimalPage">
    <ion-buttons slot="start">
      <ion-icon class="back" name="arrow-back"  routerLink="/farmers-profile"></ion-icon>
    </ion-buttons>
    <ion-title >Your Animals</ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div  *ngIf="animals.length > 0; else noAnimals" class="animal-profile">
    <ion-card  *ngFor="let animal of animals">
      <ion-card-header>
        <ion-card-title>Species: {{ animal.animal_species }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Age:</strong> {{ animal.animal_age }} years</p>
        <p><strong>Last Vaccine:</strong> {{ animal.last_vaccine }}</p>
        <p><strong>Past Illness:</strong> {{ animal.past_illness }}</p>
        <p><strong>Current Medications:</strong> {{ animal.current_medication }}</p>
        <div style="display: flex; justify-content: space-between">
          <ion-button fill="outline" slot="start" color="tertiary" (click)="editAnimal(animal, modal)">Edit</ion-button>
          <ion-button fill="outline" slot="end" color="danger" (click)="deleteAnimal(animal)">Delete</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #noAnimals>
    <p style="color: brown">No profile available</p>
  </ng-template>

  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    class="ion-center-sm-down"
  >
    <ion-fab-button id="open-add-animal-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-modal [keepContentsMounted]="true" trigger="open-add-animal-modal" #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-text-center">ADD ANIMAL</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="resetForm(modal)">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form (ngSubmit)="submitAnimalProfile(modal)">
          <ion-select
          [(ngModel)]="animalProfile.animal_species"
          required
          label="Animal Species"
          name="animal_species"
          fill="outline"
          class="top-margin"
          labelPlacement="floating"
          style="color: black"
          placeholder="Select all animals that apply"
        >
          <ion-select-option value="Chickens">Chickens</ion-select-option>
          <ion-select-option value="Goats">Goats</ion-select-option>
          <ion-select-option value="Sheep">Sheep</ion-select-option>
          <ion-select-option value="Pigs">Pigs</ion-select-option>
          <ion-select-option value="Cows">Cows</ion-select-option>
          <ion-select-option value="Horses">Horses</ion-select-option>
          <ion-select-option value="Donkeys">Donkeys</ion-select-option>
          <ion-select-option value="Rabbits">Rabbits</ion-select-option>
        </ion-select>

          <ion-textarea
          [(ngModel)]="animalProfile.animal_age" 
            name="animal_age"
            label="Animal Age"
            fill="outline"
            class="top-margin"
            labelPlacement="floating"
            style="color: black"
            placeholder="Enter animal age"
          ></ion-textarea>

          <ion-input
          [(ngModel)]="animalProfile.last_vaccine" 
            name="last_vaccine"
            label="Last Vaccine"
            labelPlacement="floating"
            type="text"
            fill="outline"
            class="top-margin"
            placeholder="Enter last vaccine"
            style="color: black"
          ></ion-input>
          <ion-input
          [(ngModel)]="animalProfile.past_illness"
            name="past_illness"
            label="Past Illness"
            labelPlacement="floating"
            type="text"
            fill="outline"
            class="top-margin"
            placeholder="Enter past Illness"
            style="color: black"
          ></ion-input>
          <ion-input
          [(ngModel)]="animalProfile.current_medication"
            name="current_medication"
            label="Curren Medication"
            labelPlacement="floating"
            type="text"
            fill="outline"
            class="top-margin"
            placeholder="Enter current medication"
            style="color: black"
          ></ion-input>

          <ion-button class="mycolor" type="submit" expand="block"
            >Submit</ion-button
          >
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
